* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} /*讓所有元素預設從左上角出發*/

body {
  background-color: #3b36cc;
  color: white;
  display: flex;
  flex-direction: row; /*預設方向是水平，寫不寫都可*/
  justify-content: center;
  font-family: sans-serif;
}

.wrapper {
   width: 450px;
   padding: 30px;
   background-color: #1a1a40;
   border-radius: 5px;
   margin-top: 20px;
   text-align: center;
}

.create-form {
  height: 40px;
  width: 100%;
  margin: 25px 0px; /*25px:上下, 0px:左右*/
  border: 1px solid #3b36cc;
  display: flex; /*防止設計.create-form > input時右邊按鈕被擠到form下面*/
}

.create-form > input { /*此寫法為form裡面的子元素，裡面現在包一個input跟button)*/
  outline: none;
  border: none;
  background: none;
  color: white;
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

.create-form > button {
  border: none;
  background-color: #3636cc;
  color: white;
  width: 50px;
  height: 100%;
  cursor: pointer;
}

.todo {
  background-color: #3636cc;
  height: 40px;
  padding: 0 10px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex; /*文字移到左邊中間*/
  justify-content: space-between; /*文字移到左邊中間*/
  align-items: center; /*文字移到左邊中間*/
}

.completed {
  opacity: 0.4;
  text-decoration: line-through 3px black;
}