* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  /* background: linear-gradient(to bottom, #23237d, #414179); 淺紫色到淺藍色漸變 */
  background-color: rgb(19, 31, 47);
  color: white;
  display: flex;
  flex-direction: row; /*預設方向是水平，寫不寫都可*/
  min-height: 100vh; /* 確保螢幕高度佔滿 */
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
  font-family: sans-serif;
}

.wrapper {
   width: 75%;
   max-width: 35rem; /* 設定最大寬度 */
   padding: 2rem;
   background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
   border-radius: 1.5rem;
   text-align: center;
}


.h1-login{
    color: rgb(13 148 136 / var(--tw-bg-opacity, 1));
}


.newpass {
    margin-top: 1rem;
}
.p-newpassword {
    display: flex;
}
.newpassword {
    display: flex;
    width: 100%;
    height: 2.4rem;
    margin-top: 0.3rem;
    border-radius: 0.5rem;
    border: 1px solid #6b7280; /* 確保邊框與背景色一致 (讓它看起來沒有邊框) */
    padding-left: 0.5rem;
    font-size: 1rem; 
    background-color: #4b5563;
    color: white;
    caret-color: white; /* 游標顏色 */
}
.newpassword:focus {
    outline: none; 
    outline: 1px solid rgb(13 148 136 / var(--tw-bg-opacity, 1)); 
}
input::placeholder {
    color: #9ca3af; 
}



.confirm-button {
    width: 100%;
    /* display: flex; 
    align-items: center;
    justify-content: center; */
    margin-top: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    /* border: 1px solid #7878d5;  */
    /* background-color: #7878d5; */
    border: 0px solid rgb(13 148 136 / var(--tw-bg-opacity, 1));
    background-color: rgb(13 148 136 / var(--tw-bg-opacity, 1));
    color: white;
    cursor: pointer;
    transition: background-color 0.15s; 
    font-size: 1rem;
}
.confirm-button:hover {
    background-color: rgb(10 120 110 / var(--tw-bg-opacity, 1));
}
